<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Uber API Starter Kit</title>
</head>
<body>

	<h2>App Login</h2>
	<p>Click to login to Uber and access App</p>
	<p><a href="/auth/uber">Login</a></p>
	
</body>
</html>
