<html lang='en'>
<head>
	<title>Register</title>
	<meta charset='UTF-8'>
</head>
<body>
	<div class='container'>
		<h1>Register your Small Business!</h1>

		<form action='/register' method='post'>
			<label>Business Name: </label><input type='text'  name='businessName'>
			<label>Product Category: </label><input type='text'  name='productCategory'>
			<label>Small Business License: </label><input type='text'  name='smLicense'>
			<input type='submit' value='Submit'>
		</form>
	</div>
</body>
</html>