<html lang='en'>
<head>
	<title>Success</title>
	<meta charset='UTF-8'>
</head>
<body>
	<div class='container'>
		<h1>Success!</h1>
		<p><%= businessName %> will be there in <%= eta %> minutes.</p>
		<p>Small businesses thanks for using and giving back to our community!</p>
		<a href="/">Back to Home</a>
	</div>
</body>
</html>